*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header nav a {
    color: red;
}

main section h1{
    background-color: orange;
}

footer section p{
    background-color: green;
}